# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.log
.venv/
myenv/
env/
.env
.env.*

# Django
db.sqlite3
staticfiles/
media/
*.pot

# Unit test / coverage
.coverage
htmlcov/
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db